<!DOCTYPE html>
<html>
    <head>
        <title>農業文獻AI回饋資料系統</title>
        <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', path='/css/lab.png') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="{{ url_for('static', path='/js/control.js') }}"></script>
    </head>
    <body>
        <nav>
            <img src="{{ url_for('static', path='/css/lab.png') }}" width="100px">
            <p>智慧永續新農業研究發展中心</p>
        </nav>
        <header id="header">
            <h1>農業文獻AI回饋資料系統</h1>
            <p>輸入所有相關的資料，以納入資料庫，幫助AI自動閱讀系統</p>
        </header>
        <hr>
        <div id="flash">
        </div>
        <section>
            <h2 class="index">第一部分</h2>
            <p class="detail">上傳PDF後抓取內容以及標題給您確認後再送出</p>
            <label class="file">上傳檔案<input type="file" id="file" style="visibility: hidden;" accept=".pdf"></label>
        </section>
        <hr class="line">
        <section>
            <h2 class="index" id="second">第二部分</h2>
            <p class="detail">提供您的內容以及標題再送出</p>
            <div>
                <p><label class="text" for="article">標題</label></p>
                <input id="article" name="article" type="text">
            </div>
            <div>
                <p><label class="text" for="content">全文</label></p>
                <textarea id="content" name="content"></textarea>
            </div>
            <div>
                <button id="submit">送出</button>
            </div>
        </section>

        <footer>
            <p>Website</p>
            <p>中興大學 理學大樓721室 NLP LAB 楊世宇</p>
        </footer>

    </body>
</html>
