<!DOCTYPE html>
<html>
    <head>
        <title>農業文獻AI回饋資料系統</title>
        <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', path='/css/lab.png') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="{{ url_for('static', path='/js/control.js') }}"></script>
    </head>
    <body>
        <nav>
            <img src="{{ url_for('static', path='/css/lab.png') }}" width="100px">
            <p>智慧永續新農業研究發展中心</p>
        </nav>
        <header id="header">
            <h1>農業文獻AI回饋資料系統</h1>
            <p> 本服務提供手動新增農業知識文獻於農業文獻AI自動閱讀系統之知識庫(https://agri.nlpnchu.org/，用以強化農業文獻AI自動閱讀系統</p>
        </header>
        <hr>
        <div id="flash">
        </div>
        <section>
            <h2 class="index" id="second">使用純文字格式上傳</h2>
            <p class="detail">貼上預計新增的農業文獻，按送出即可</p>
            <div>
                <p><label class="text" for="article">標題</label></p>
                <input id="article" name="article" type="text">
            </div>
            <div>
                <p><label class="text" for="content">全文</label></p>
                <textarea id="content" name="content"></textarea>
            </div>
            <div>
                <button id="submit">送出</button>
            </div>
        </section>
        <hr class="line">
        <section>
            <h2 class="index">使用PDF格式上傳</h2>
            <p class="detail">可上傳PDF，系統先行轉出文字檔後，再由使用者自行挑選合適文字段落上傳</p>
            <label class="file">上傳檔案<input type="file" id="file" style="visibility: hidden;" accept=".pdf"></label>
        </section>

        <footer>
            <p>Website</p>
            <p>中興大學 理學大樓721室 NLP LAB 楊世宇</p>
        </footer>

    </body>
</html>
